---
import Header from '../components/Header.astro';
import Video from '../components/Video.astro';
import Bento from '../components/Bento.astro';
import Footer from '../components/Footer.astro';
import Intro from '../components/Intro.astro';
import PreFooter from '../components/PreFooter.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Numeros from '../components/Numeros.astro';
---

<Layout 
	
	title="Stream Fighter 3 | Pagina educativa">	
	
</Layout>
	<Intro />
	<main>
		<Video/>
		<Bento />
		<Numeros />
		<PreFooter />

	</main>
	<Footer/>

<style>
	
</style>
