---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Stream Fighter 3 | Página educativa">
  
  <div class="w-full relative p-56 uppercase mx-auto m-auto">
    <h3 class="font-RoadRage mb-2 text-4xl text-center">INFORMACION DE LOS PELEADORES</h3>
    
    <div class="row">
      <div class="card  " data-pair="1">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador1.png');">
              <img class="boxer-title mt-96 " src="../nameboxers/HERCULES.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 1</div>
        </div>
      </div>
      <div class="card  " data-pair="2">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador2.png');">
              <img class="boxer-title mt-80 " src="../nameboxers/ALANA.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 2</div>
        </div>
      </div>
      <div class="card  " data-pair="3">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador3.png');">
              <img class="boxer-title mt-80 " src="../nameboxers/CHANTY.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 3</div>
        </div>
      </div>
      <div class="card  " data-pair="4">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador4.png');">
              <img class="boxer-title mt-96 " src="../nameboxers/REBOLL.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 4</div>
        </div>
      </div>
      <div class="card  " data-pair="5">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador5.png');">
              <img class="boxer-title mt-80 " src="../nameboxers/JH.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 5</div>
        </div>
      </div>
      <div class="card  " data-pair="6">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador6.png');">
              <img class="boxer-title mt-96 " src="../nameboxers/LEANDRO.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 6</div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="card  " data-pair="1">
            <div class="card-inner  ">
                <div class="card-front " style=" background-image: url('/img/peleador11.png');">
                  <img class="boxer-title mt-96 " src="../nameboxers/BIGMIKE.png" alt="Boxer Title">
              </div>
              <div class="card-back ">Fighter Info 7</div>
            </div>
          </div>
          <div class="card  " data-pair="2">
            <div class="card-inner  ">
                <div class="card-front " style=" background-image: url('/img/peleador22.png');">
                  <img class="boxer-title mt-96 " src="../nameboxers/MAV.png" alt="Boxer Title">
              </div>
              <div class="card-back">Fighter Info 8</div>
            </div>
      </div>
      <div class="card  " data-pair="3">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador33.png');">
              <img class="boxer-title mt-96 " src="../nameboxers/ELGOMEZ.png" alt="Boxer Title">

          </div>
          <div class="card-back" >ELGOMEZ</div>
        </div>
      </div>
      <div class="card  " data-pair="4">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador44.png');">
              <img class="boxer-title mt-96 " src="../nameboxers/KRISR.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 10</div>
        </div>
      </div>
      <div class="card  " data-pair="5">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador55.png');">
              <img class="boxer-title mt-80 " src="../nameboxers/JH.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 11</div>
        </div>
      </div>
      <div class="card  " data-pair="6">
        <div class="card-inner  ">
            <div class="card-front " style=" background-image: url('/img/peleador66.png');">
              <img class="boxer-title mt-80 " src="../nameboxers/MIDIOSTEPAGUE.png" alt="Boxer Title">
          </div>
          <div class="card-back">Fighter Info 12</div>
        </div>
      </div>
    </div>
  </div>
  <div class="items-center justify-center  text-xl text-bold mx-auto my-12 mt-1 text-pretty" >
    <h2 class="text-4xl lg:text-3xl font-bold text-center text-balance mb-10 lg:mb-20">Creado por:</h2>
    <a class="w-full text-xl text-bold mx-96 my-12 mt-4 text-pretty" href="https://www.spoongg.com/influencers">
        <img src="Spoon.webp" alt="Instagram" class="w-1/8 mx-auto">
      </a>
      <a class="w-full text-xl text-bold mx-96 my-12 mt-4 text-pretty" href="https://wmerchshop.com/">
        <img src="W.png" alt="W" class="w-1/8 mx-auto">
      </a>

  </div>

  <script>
   




    document.addEventListener('DOMContentLoaded', () => {
      const cards = document.querySelectorAll('.card');

      cards.forEach(card => {
        card.addEventListener('mouseenter', () => {
          const pair = card.getAttribute('data-pair');
          cards.forEach(c => {
            if (c.getAttribute('data-pair') !== pair) {
              c.classList.add('blur');
            } else {
              c.classList.add('highlight');
            }
          });
        });

        card.addEventListener('mouseleave', () => {
          cards.forEach(c => {
            c.classList.remove('blur');
            c.classList.remove('highlight');
          });
        });

        card.addEventListener('click', () => {
          card.classList.toggle('flipped');
        });
      });
    });
  </script>
  
</Layout>

<style>
 .overlay {
  position: fixed; /* O 'absolute' si solo quieres que cubra un área específica */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000; /* Valor alto para asegurar que se muestre encima de otros elementos */
  display: none; /* Oculto por defecto */
  pointer-events: auto; /* Permitir eventos del mouse si es necesario */
}


.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.overlay-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.overlay-text {
  margin-top: 10px;
}


.hidden {
  display: none;

}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.card {
  width: 280px;
  height: 330px;
  perspective: 1000px;
  margin: 5px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: top;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.card-front {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.card-back {
  background-color: #444;
  transform: rotateY(180deg);
}

.highlight {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
}

.blur {
  filter: blur(4px);
  opacity: 0.5;
}

/* Estilo para el overlay VS */
.vs-overlay {
  position: center;
  text-shadow: #333333;
  color: rgb(0, 119, 255);
  font-size: 300px;
  text-align: center;
  font-family: 'RoadRage', sans-serif;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgb(0, 119, 255);
  border: #333333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
}
</style>
