<section id="stream-fighter" class=" uppercase mt-32  mx-auto flex flex-col justify-center items-center text-pretty">
    <h2 class="text-5xl text-primary text-semibold">Boletas STREAM FIGHTER 3 MEDELLÍN - WESTCOL<span aria-hidden class="hidden md:inline mx-1">🔥</span></h2>
    <p class="text-3xl"><strong>Evento:</strong> STREAM FIGHTER 3 MEDELLÍN - WESTCOL</p>
    <h3 class="text-3xl "><strong>Lugar:</strong> Centro de Eventos La Macarena, Medellín</h3>
    <p class="text-3xl mt-1"><strong>Fecha:</strong> Domingo, 20 de octubre de 2024</p>
    <p class="text-4xl"><strong>Hora:</strong> 5:00 PM UTC -5</p>
    <div class="text-2xl text-pretty mx-auto text-center mt-4">
        Compra tus boletas para el evento<br> STREAM FIGHTER 3 MEDELLÍN - WESTCOL en el Centro de Eventos<br> La Macarena en Medellín desde la comodidad<br> de tu hogar en Taquillalive. Consulta los precios y más detalles en el siguiente enlace:
    </div>
    <a class="text-4xl mt-5 mx-auto font-bold shadow border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-sky-600 hover:text-white duration-300" target="_blank" href="https://www.taquillalive.com/performance-details/?artist=westcol&event=TCL.EVN542.PRF1">
        Compra boletas
    </a>
</section>
