<header id="header-nav" class="fixed w-screen py-1 z-40 top-0 px-8 lg:px-0 margin-top">
    <div class="flex justify-between items-center max-w-7xl mx-auto">
        <a href="/" class="flex items-center">
            <img src="Group 2.png" alt="Logo Stream Fighter" width="200" />
        </a>
        <nav>
            <ul class="flex gap-4 items-center">
                <li>
                    <a id="header-dev" class="nav-link" href='Inicio'>INICIO</a>
                </li>
                <li>
                    <a id="header-dev" class="nav-link" href='Peleadores'>PELEADORES</a>
                </li>
                <li>
                    <a id="header-dev" class="nav-link" href='Pronosticos'>PRONOSTICOS</a>
                </li>
                <li>
                    <a id="header-dev" class="nav-link" href='RedesSociales'>REDES SOCIALES</a>
                </li>
            </ul>
        </nav>
        <a id="header-vip" href="https://kick.com/westcol" target="_blank" class="font-bold shadow border rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-sky-600 hover:text-White duration-300">VER EVENTO</a>

        
    </div>
</header>
