<div class="w-full relative p-56 uppercase">
    <img class="mx-auto m" src="Group 2.png">
    <section class="w-full px-20 max-w-[60ch] mx-auto my-24 text-pretty">
        <div class="text-xl text-left">
            <h1 id="header-vue" class="text-3xl font-semibold text-wrap mx-auto mb-6 tracking-wide">
                <strong class="text-center mx-20 text-4xl">Stream Fighter 3:</strong>  <br>El evento de boxeo organizado por el streamer más grande de Colombia, WestCol</strong>
            </h1>
            <p>Prepárate para vivir la emoción y la acción en el ring con Stream Fighter 3. <strong>Este evento de boxeo promete ser una experiencia inolvidable</strong>, donde los mejores luchadores se enfrentarán en combates emocionantes.</p>
            <p>WestCol, el streamer más grande de Colombia, se une como organizador para brindar un espectáculo único lleno de entretenimiento y adrenalina. No te pierdas la oportunidad de presenciar peleas épicas y apoyar a tus luchadores favoritos.</p>
            <p>Únete a nosotros para una noche llena de emociones, sorpresas y momentos emocionantes. ¡Compra tus boletos ahora y asegura tu lugar en este evento histórico!</p>
        </div>
    </section>
    
    
</div>
<div>
    <section class="w-full p-20 max-w-6xl mx-auto font-semibold">
        <h3 class="uppercase mt-32 text-4xl  mx-auto flex flex-col justify-center items-center fond-bold"> 
            Presentacion de Stream Fighter 3
        </h3>
           <lite-youtube    videoid="1K1eVNJ6jxg" 
                            class="shadow-2xl shadow-white/20">
                            
            </lite-youtube>
        
    </section>
    <script>
        import "@justinribeiro/lite-youtube"
    </script>
</div>
    