<div class="w-full relative p-56">
    <img class="mx-auto m" src="Group 2.png">
    <section class="w-full px-20 max-w-[60ch] mx-auto my-24 text-pretty">
        <div class="text-xl text-left">
            <h1 id="header-vue" class="text-3xl font-semibold text-wrap mx-auto mb-6 tracking-wide">
                <strong class="text-center mx-20 text-4xl">Stream Fighter 3:</strong>  <br>El evento de boxeo organizado por el streamer más grande de Colombia, WestCol</strong>
            </h1>
            <p>Prepárate para vivir la emoción y la acción en el ring con Stream Fighter 3. Este evento de boxeo promete ser una experiencia inolvidable, donde los mejores luchadores se enfrentarán en combates emocionantes.</p>
            <p>WestCol, el streamer más grande de Colombia, se une como organizador para brindar un espectáculo único lleno de entretenimiento y adrenalina. No te pierdas la oportunidad de presenciar peleas épicas y apoyar a tus luchadores favoritos.</p>
            <p>Únete a nosotros para una noche llena de emociones, sorpresas y momentos emocionantes. ¡Compra tus boletos ahora y asegura tu lugar en este evento histórico!</p>
        </div>
    </section>
    
    
</div>

    