<section class="h-full max-w-6xl mx-auto py-20 px-20 grid-cols-3">
    <h2 class="text-4xl lg:text-6xl font-extrabold text-center text-balance mb-10 lg:mb-20 ">NUESTROS NUMEROS</h2>
    <div class="flex gap-10 items-center">
        <p>
            <span class="max-w-6xl py-20 px-80 text-7xl font-bold tabular-nums shadow-xl shadow-slate-100/10 rounded-xl">+800K</span>
        </p>
        <p class="text-center text-2xl -mx-80">Espectadores</p>
    </div>
    <div class="flex gap-10 items-center">
        <p>
            <span class="max-w-6xl py-20 px-80 text-7xl font-bold tabular-nums">+17M</span>
        </p>
        <p class="text-center text-2xl -mx-72">Visualizaciones</p>
    </div>
</section>
